<ion-view title="Signup">
  <ion-nav-buttons side="left">
    <button menu-toggle="left"class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content class="has-header">

  	<div class="list">
	  <label class="item item-input">
	    <input ng-model="user.fullname" type="text" placeholder="Full Name">
	  </label>
	  <label class="item item-input">
	    <input ng-model="user.email" type="email" placeholder="Email">
	  </label>
	  <label class="item item-input">
	    <input ng-model="user.password" type="password" placeholder="Password">
	  </label>
	  <label class="item item-input">
	    <input ng-model="user.password_confirmation" type="password" placeholder="Password confirmation">
	  </label>
	  <div class="padding">
	  	<button ng-click="signUp();" class="button button-full button-balanced">
		  Sign up
		</button>
	  </div>
	  <div class="padding">If you already have an account</div>
	  <div class="padding">
	  	<a class="button button-full button-calm" href="#/app/login">
		  Login
		</a>
	  </div>
	</div>

  </ion-content>
</ion-view>
